/* Computadora */

@media (min-width: 1201px) {
  #hero {
    max-width: 1200px;
  }

  .hero-info {
    margin-left: 30px;
  }

  .hero-info p {
    font-size: 30px;
  }

  .hero-info a {
    width: 140px;
    height: 40px;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  #hero {
    width: 75%;
  }
}

/* Tablet*/

@media (max-width: 992px) {
  #hero {
    width: 100%;
  }
  .hero-card {
    display: none;
  }

  .hero-info {
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .hero-info h1 {
    max-width: 494px;
    min-height: 156px;
  }
  .hero-info p {
    max-width: 388px;
  }

  #information-text {
    height: 160px;
    width: 100%;
    margin-bottom: 65px;
  }

  #information-text h2 {
    display: block;
  }
  #information-text p {
    text-align: center;
    font-size: 18px;
    width: 600px;
  }

  #info {
    align-content: center;
  }
  #info h2 {
    font-size: 34px;
  }
  .info-card {
    width: 200px;
    height: 200px;
  }

  .info-card img {
    width: 200px;
    height: 200px;
  }

  .info-card h3 {
    font-size: 20px;
  }

  .products-container {
    max-width: 769px;
  }

  .product {
    width: 45%;
  }
}

/* Tablet / Celular */

@media (max-width: 768px) {
  #information-text {
    gap: 40px;
  }
  #information-text p {
    width: 450px;
  }
  .info-cards-container {
    flex-wrap: wrap;
    gap: 100px;
  }

  #info h2 {
    width: 400px;
    text-align: center;
  }

  .product {
    width: 300px;
  }
}

/* Celular */

@media (max-width: 576px) {
  #information-text {
    gap: 40px;
  }

  #information-text p {
    width: 400px;
    height: 200px;
    font-size: 17px;
  }

  #info {
    width: 300px;
  }

  #info h2 {
    font-size: 25px;
    width: 300px;
  }

  #products h2 {
    width: 300px;
  }

  .products-container {
    width: 340px;
  }
}
