@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Halant:wght@700&family=Montserrat:wght@200&family=Poppins:wght@300&family=Roboto+Condensed:wght@700&family=Yanone+Kaffeesatz:wght@200&display=swap");
/* bg colors */

:root {
  --background: #81886b;
  --primary: #f4eeed;
  --secondary: #efd9d1;
  --tertiaty: #ddb7ab;
  --text: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Montserrat", sans-serif;
}

header {
  background: var(--primary);
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;
  justify-content: space-between;
}

.logo {
  height: 80px;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 150px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--background);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.navbar-list li:first-child > a {
  color: var(--tertiaty);
}

.cart-icon {
  height: 40px;
  width: 40px;
  border: 1px solid var(--background);
  padding: 12px 10px;
  margin-top: 3px;
  border-radius: 10%;
  font-weight: 600;
  cursor: pointer;
}

/* hero */

main {
  background: var(--background);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#hero {
  margin-top: 65px;
  padding: 78px 0;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
}

.hero-info h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 2px;
  font-size: 70px;
  width: 80%;
  color: var(--secondary);
}

.hero-info p {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 22px;
  color: var(--text);
  width: 90%;
}

.hero-info a {
  color: var(--text);
  background-color: var(--tertiaty);
  width: 120px;
  padding: 8px 0px;
  border-radius: 10px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

.hero-card {
  width: 23%;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.hero-card img {
  margin-top: 100px;
  border-radius: 5px;
}

.hero-card-info {
  color: #363636;
  font-weight: 600;
}

/* INFO */

#info {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

#info h2 {
  font-size: 38px;
  font-family: "Poppins", sans-serif;
}

.info-cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.info-card {
  width: 300px;
  height: 300px;
  background-color: var(--tertiaty);
  border-radius: 50%;
  flex-wrap: nowrap;
  cursor: pointer;
}
.info-card img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.subtitulos-info {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  font-size: 23px;
  gap: 40px;
  color: rgb(56, 56, 56);
}

/* texto informacion */
#information-text {
  width: 35%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  display: flex;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 19px;
}

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
  width: 100%;
}

#products h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 50%;
  gap: 15px;
}

.product {
  background-color: var(--secondary);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 35px;
  width: 30%;
}
.product img {
  height: 230px;
  width: 250px;
  padding: 10px;
  border-radius: 10%;
  margin-left: 5%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.product-top,
.product-mid,
.product-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #363636;
}

.product-top h3 {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  padding: 2px;
}

.product-mid p {
  font-size: 18px;
  font-weight: 600;
  margin: 0 6%;
  height: 150px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 6%;
}

.product-bot img {
  height: 40px;
  width: 35px;
}
.product-bot p {
  font-weight: 600;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  margin-left: 6%;
}

.btn-add {
  height: 40px;
  width: 60px;
  color: var(--primary);
  background-color: var(--background);
  cursor: pointer;
  border-radius: 15%;
  border: solid var(--background);
  margin-right: 30px;
}

.product-price img {
  margin-bottom: 5%;
  margin-left: 0;
}

/* FOOTER */

footer {
  background-color: #fcacac;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 30px;
}

footer a {
  color: var(--text);
  font-weight: 600;
}

footer p {
  color: var(--background);
  font-weight: 600;
  font-size: 16px;
}

footer span {
  color: var(--primary);
  font-weight: 600;
}

/*
font-family: 'Halant', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: "Bebas Neue", cursive;
font-family: "Poppins", sans-serif;
*/
