@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
/* bg colors */

:root {
  --background: #fffcf8;
  --gray: #808080;
  --gray-dark: #333333;
  --yellow-mostaza: #f7b941;
  --rojo-anaranjado: #f45858;
  --gray-light: #f3ebe1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--background);
}
/* header */

header {
  background-color: var(--background);
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;
  justify-content: space-between;
}

.barra {
  background-color: var(--gray-light);
  height: 71px;
  width: 80%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 100px;
}

.logo {
  margin-left: 90px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: var(--gray);
  font-weight: 400;
}

.navbar-list li:first-child > a {
  color: black;
}

.cart-icon {
  height: 40px;
  width: 40px;
  border: 1px solid var(--background);
  padding: 12px 10px;
  margin-top: 3px;
  border-radius: 10%;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--background);
}

/* hero */

main {
  background: var(--background);
  color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#hero {
  margin-top: 10px;
  padding: 78px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.hero-info h1 {
  letter-spacing: 2px;
  font-size: 60px;
  color: var(--secondary);
}

.hero-info p {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 22px;
  color: var(--text);
  width: 90%;
}

.hero-info a {
  color: var(--text);
  background-color: var(--rojo-anaranjado);
  width: 120px;
  padding: 9px 0px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}

.hero-card {
  width: 36%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 20px 20px;
}

.hero-card img {
  margin-top: 100px;
}

.hero-card-info {
  color: var(--rojo-anaranjado);
  font-weight: 600;
}

/* INFO */

#info {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
  width: 50%;
  flex-wrap: wrap;
  max-width: 800px;
}

#info h2 {
  font-size: 38px;
}

.info-cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.info-card {
  width: 250px;
  height: 250px;
  background-color: var(--tertiaty);
  border-radius: 50%;
  flex-wrap: nowrap;
  cursor: pointer;
}
.info-card img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.info-cards-container h3 {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  font-size: 23px;
  gap: 40px;
  color: rgb(56, 56, 56);
}

/* texto informacion */

#information-text {
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  display: flex;
  font-weight: 400;
  font-size: 17px;
  max-width: 600px;
  max-height: 600px;
  flex-direction: column;
  margin-bottom: 40px;
}
#information-text h2 {
  margin-bottom: 10px;
}

/* TOP products */

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
  width: 100%;

  background-color: var(--gray-light);
}

#products h2 {
  font-size: 40px;
  margin-top: 30px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 992px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 35px;
  width: 30%;
  background-color: var(--background);
}
.product img {
  width: 100%;
  height: 340px;
  margin-bottom: 4px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.product-top h3 {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin: 5px 15px;
}

.product-bot {
  display: flex;
  color: #363636;
  flex-direction: column;
}

.product-price {
  padding: 6%;
}

.product-bot p {
  font-weight: 800;

  font-size: 25px;
  color: black;
}

.product-bot span {
  font-size: 20px;
}
.btn-add {
  height: 50px;
  width: 297px;
  color: var(--gray);
  background-color: var(--background);
  cursor: pointer;
  border: solid 1px black;
}

/* FOOTER */

footer {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: black;
  font-weight: 600;
}

footer p {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

footer span {
  color: var(--rojo-anaranjado);
  font-weight: 600;
}

/*
font-family: 'Halant', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: "Bebas Neue", cursive;
font-family: "Poppins", sans-serif;
*/
