@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap");
/* bg colors */

:root {
  --background: #fffcf8;
  --gray: #808080;
  --gray-dark: #333333;
  --yellow-mostaza: #f7b941;
  --rojo-anaranjado: #f45858;
  --gray-light: #f3ebe1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Raleway", sans-serif;
}

/* header */

header {
  background-color: var(--background);
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0px 30px 0px 30px;
  position: fixed;
  top: 0;
  justify-content: space-between;
}

.barra {
  background-color: var(--gray-light);
  height: 71px;
  width: 80%;
}

.navbar,
.navbar-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  gap: 100px;
}

.logo {
  margin-left: 90px;
}

.navbar-list {
  gap: 30px;
}

.navbar-list a {
  color: black;
  font-weight: 400;
  transition-property: all;
  transition-duration: 0.3s;
}

.navbar-list li:first-child > a {
  color: black;
  font-weight: 600;
}

.navbar-list a:hover {
  background: var(--rojo-anaranjado);
  transition-property: all;
  transition-duration: 0.3s;
  border-radius: 10px;
  padding: 8px;
}

.cart-icon {
  width: 40px;
  border: 1px solid var(--background);
  padding: 12px 10px;
  border-radius: 10%;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--background);
  transition-property: all;
  transition-duration: 0.3s;
  color: var(--rojo-anaranjado);
}

.cart-icon:hover {
  transition-property: all;
  transition-duration: 0.3s;
  font-size: 19px;
}

.cart {
  position: absolute;
  background: linear-gradient(
    rgba(255, 252, 248, 1) 50%,
    rgba(243, 235, 225, 1) 81%
  );
  top: 70px;
  right: 0;
  padding: 50px 30px;
  border-left: 1px solid var(--rojo-anaranjado);
  display: flex;
  flex-direction: column;
  gap: 23px;
  height: calc(100vh - 65px);
  z-index: 2;
  overflow-y: scroll;
  display: none;
}

.cart::-webkit-scrollbar {
  display: none;
}

.cart h2 {
  font-size: 20px;
  font-weight: 600;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 2px;
  padding: 20px;
}

.cart-item img {
  width: 65px;
  height: 65px;
}

.item-title {
  font-weight: 400;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100px;
}

.item-price {
  font-weight: 800;
  font-size: 16px;
}

.item-handler {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.quantity-handler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  border-radius: 2px;
  font-weight: 400;
}

.up,
.down {
  border: 1px solid var(--yellow-mostaza);
}

.divider {
  margin-top: 20px;
  border: 0.1px solid var(--rojo-anaranjado);
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.cart-total p {
  font-weight: 800;
}

.btn-add-cart {
  width: 297px;
  cursor: pointer;
  border: solid 1px black;
  text-align: center;
  font-weight: 600;
  border-radius: 40px;
  color: var(--gray-dark);
  font-size: 14px;
  padding: 18px;
  text-align: center;
  color: var(--background);
  transition-property: all;
  transition-duration: 0.3s;
}

.mostaza {
  background: var(--yellow-mostaza);
  color: var(--gray-dark);
  font-weight: 800;
}

.black {
  background-color: var(--gray-dark);
}

.btn-add-cart:hover {
  transition-property: all;
  transition-duration: 0.3s;
  opacity: 0.8;
  width: 285px;
}

#cart-toggle,
#menu-toggle,
.menu-label {
  display: none;
}

#cart-toggle:checked + .cart {
  display: flex;
}

/* hero */

main {
  background: var(--background);
  color: var(--gray-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#hero {
  margin-top: 10px;
  padding: 78px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.hero-info h1 {
  letter-spacing: 2px;
  font-size: 60px;
  color: var(--secondary);
}

.hero-info p {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 22px;
  color: var(--text);
  width: 90%;
}

.hero-info a {
  color: var(--text);
  background-color: var(--rojo-anaranjado);
  width: 120px;
  padding: 9px 0px;
  border-radius: 10px;
  font-size: 15px;
  text-align: center;
  font-weight: 600;
  transition-property: all;
  transition-duration: 0.5s;
}

.hero-info a:hover {
  background: rgb(51, 51, 51);
  color: white;
  border: 1px solid var(--gray-dark);
  transition-property: all;
  transition-duration: 0.5s;
}

.hero-card {
  width: 36%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin: 20px 20px;
}

.hero-card img {
  margin-top: 100px;
}

.hero-card-info {
  color: var(--rojo-anaranjado);
  font-weight: 600;
}

/* INFO */

#info {
  padding: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
  width: 50%;
  flex-wrap: wrap;
  max-width: 800px;
}

#info h2 {
  font-size: 38px;
}

.info-cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.info-card {
  width: 250px;
  height: 250px;
  background-color: var(--tertiaty);
  border-radius: 50%;
  flex-wrap: nowrap;
  cursor: pointer;
}
.info-card img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition-property: all;
  transition-duration: 0.3s;
}

.info-card img:hover {
  transition-property: all;
  transition-duration: 0.3s;
  width: 260px;
  height: 260px;
}

.info-cards-container h3 {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  font-size: 23px;
  gap: 40px;
  color: rgb(56, 56, 56);
}

/* texto informacion */

#information-text {
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100px;
  display: flex;
  font-weight: 400;
  font-size: 17px;
  max-width: 600px;
  max-height: 600px;
  flex-direction: column;
  margin-bottom: 40px;
}
#information-text h2 {
  margin-bottom: 10px;
}

/* TOP products */

#products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0;
  width: 100%;

  background-color: var(--gray-light);
}

#products h2 {
  font-size: 40px;
  margin-top: 30px;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  max-width: 992px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px 35px;
  width: 30%;
  background-color: var(--background);
}
.product img {
  width: 100%;
  height: 340px;
  margin-bottom: 4px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.product-top h3 {
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  margin: 5px 15px;
}

.product-bot {
  display: flex;
  color: #363636;
  flex-direction: column;
}

.product-price {
  padding: 6%;
}

.product-bot p {
  font-weight: 800;

  font-size: 25px;
  color: black;
}

.product-bot span {
  font-size: 20px;
}
.btn-add {
  width: 297px;
  color: var(--gray);
  background-color: var(--background);
  cursor: pointer;
  border: solid 1px black;
  text-align: center;
  padding: 10px;
  transition-property: all;
  transition-duration: 0.3s;
}

.btn-add:hover {
  opacity: 0.6;
  background-color: var(--gray);
  color: black;
  transition-property: all;
  transition-duration: 0.3s;
}

.ver-mas {
  border-radius: 10px;
  width: 250px;
  margin-bottom: 20px;
  font-size: 14px;
}

/* CONTACTO */

#contact {
  background: var(--gray);
  padding: 30px 40px;
  width: 60%;
  height: 18rem;
  margin: 40px 50px;
  border-radius: 30px;
}

#contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.container-contacto {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 10px;
  font-weight: 600;
}

.container-contacto a {
  color: var(--gray-light);
  font-weight: 400;
}

.container-information {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: black;
}

.container-information a {
  color: var(--gray-light);
  font-weight: 400;
}
.container-service {
  display: flex;
  flex-direction: column;
  color: black;
  gap: 15px;
}

.container-service a {
  color: var(--gray-light);
}
.container-contacto img {
  width: 23px;
  height: 23px;
}

/* FOOTER */

footer {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  width: 100%;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

footer a {
  color: black;
  font-weight: 600;
}

footer p {
  color: black;
  font-weight: 600;
  font-size: 16px;
}

footer span {
  color: var(--rojo-anaranjado);
  font-weight: 600;
}

/*
font-family: 'Halant', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: "Bebas Neue", cursive;
font-family: "Poppins", sans-serif;
*/
