html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}
.overlay {
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  display: none;
}

.overlay.show-overlay {
  display: block;
  transition: all 0.5 ease;
}
