html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}
.overlay {
  position: absolute;
  top: 70px;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  /* background: rgba(255, 255, 255, 0.05); */
  /* backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(1px); */
  display: none;
}

.show-overlay {
  display: flex;
}
