:root {
  --background: #fffcf8;
  --gray: #808080;
  --gray-dark: #333333;
  --yellow-mostaza: #f7b941;
  --rojo-anaranjado: #f45858;
  --gray-light: #f3ebe1;
}

/* Computadora */

@media (min-width: 1201px) {
  #hero {
    max-width: 1000px;
  }

  .hero-info {
    margin-left: 30px;
  }

  .hero-info p {
    font-size: 30px;
  }

  .hero-info a {
    width: 140px;
    height: 40px;
    font-size: 16px;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  #contact {
    font-size: 14px;
  }
  #hero {
    max-width: 800px;
  }
}

/* Tablet*/

@media (max-width: 992px) {
  .navbar {
    gap: 10px;
  }
  .navbar-list {
    position: absolute;
    top: 70px;
    width: 90%;
    flex-direction: column;
    background: var(--rojo-anaranjado);
    left: 5%;
    right: 5%;
    font-size: 15px;
    padding: 45px 0;
    gap: 40px;
    z-index: 2;
    display: none;
  }

  .navbar-list a {
    color: white;
  }

  .menu-icon {
    display: flex;
    cursor: pointer;
    order: 2;
  }
  .open-menu {
    display: flex;
  }
  /* .menu-icon {
    display: block;
  } */
  .logo {
    margin-left: 35px;
  }

  #contact {
    font-size: 11px;
  }

  #hero {
    width: 100%;
  }
  .hero-card {
    display: none;
  }

  .hero-info {
    gap: 50px;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
  }

  .hero-info h1 {
    max-width: 494px;
    min-height: 156px;
  }
  .hero-info p {
    max-width: 388px;
  }

  #information-text {
    height: 160px;
    width: 100%;
    margin-bottom: 65px;
  }

  #information-text h2 {
    display: block;
  }
  #information-text p {
    text-align: center;
    font-size: 18px;
    width: 600px;
  }

  #info {
    align-content: center;
  }
  #info h2 {
    font-size: 34px;
  }
  .info-card {
    width: 200px;
    height: 200px;
  }

  .info-card img {
    width: 200px;
    height: 200px;
  }

  .info-card h3 {
    font-size: 20px;
  }

  .products-container {
    max-width: 769px;
  }

  .product {
    width: 45%;
  }
}

/* Tablet / Celular */

@media (max-width: 768px) {
  #contact {
    font-size: 11px;
    width: 370px;
    padding: 10px 0;
  }

  #information-text {
    gap: 40px;
  }
  #information-text p {
    width: 450px;
  }
  .info-cards-container {
    flex-wrap: wrap;
    gap: 100px;
  }

  #info h2 {
    width: 400px;
    text-align: center;
  }

  .product {
    width: 300px;
  }
}

/* Celular */

@media (max-width: 576px) {
  .cart {
    left: 0;
    width: 100%;
    border: none;
  }

  .hero-info h1 {
    font-size: 50px;
    padding: 0 10px;
    max-width: 360px;
    max-height: 236px;
  }

  .hero-info p {
    font-size: 19px;
    text-align: center;
    max-width: 324px;
    max-height: 198px;
  }

  #information-text {
    gap: 40px;
  }

  #information-text p {
    max-width: 300px;
    max-height: 300px;
    font-size: 15px;
  }

  #info {
    width: 300px;
  }

  #info h2 {
    font-size: 25px;

    max-width: 300px;
  }

  #products h2 {
    max-width: 320px;
  }

  .products-container {
    width: 340px;
  }
}

@media (max-width: 360px) {
  .logo {
    max-width: 150px;
  }
  .products-container {
    max-width: 300px;
  }
  #products h2 {
    font-size: 30px;
  }

  footer p {
    font-size: 14px;
  }

  footer a {
    font-size: 14px;
  }
}
